@using AirplaneNotSecure.Models
@model TicketListViewModel

@{
    ViewData["Title"] = "Tickets";
}

<h1>View</h1>

@if(Model.Tickets.Any()){
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                 @Html.ActionLink("Action", "Aciton", new { param=item.Name })
            </td>
        </tr>
}
    </tbody>
</table>
}
else{
    <p>No tickets</p>
}